*{
    padding: 0px;
    margin: 0px;
    text-align: center;  
    font-family: 'Russo One', sans-serif;
    font-family: 'Oswald', sans-serif;
}

.logo{
    z-index:2;
    height: 50px;
    width:100%;
    background-color: #656565;
    position: fixed;
    top: 0px;
}
.first{
    margin-top: 50px;
    height: 70px;
    background-color: rgb(255, 255, 255);
}
.second{
    height: 300px;
    background-image: url("/images/club.png");
}
.xcom{
    padding:20px 0px 20px 0px;
    
}
.second img{
    margin-top:20px;
    max-height:200px;
    max-width: 200px;
    animation-name: rotation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/* .third{
    height: 3000px;
} */

.main_part_links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 50px;
  }
  
.main_part_links > a {
margin: 0px auto;
color: white;
text-decoration: none;
}

.main_part_links > a:hover {
text-shadow: 0px 0px 30px red;
}

.logo {
background-color: #333333;
height: 50px;
}

.social{
    display: flex;
    height: 150px;
    background-color: #656565;
}
.price{
    display: flex;
    margin:0px auto;
    height: 80px;
    width: 200px;
    border-radius: 10px;
    background: #f35;
}
.price p {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    color:white;
    margin:0px auto;
    font-size: 25px;
    text-align:center;
    align-items: center;
}

h1{
    font:Arial 35px white;
    
}
.autor{
    font-family: 'Open Sans', sans-serif;
    
    margin:0px 1%;
    width: 300px;
    height: 400px;
    background-color: white;
    border-radius:5%;
    
}
.round{
    width: 70%;
    height: 70%;
    margin:5% auto;
    background-color: white;
    border-radius: 50%;
}
.autors{
    
    padding-left: 2%;
    display:flex;
    justify-content: center;
}

.autor:hover{
    color:white;
    transition: 0.6s;
    background-color: #656565;
    
}
article{
    display: flex;
    justify-content: center;
}

.article{
    justify-content: center;
    margin:0px 2%;
    padding:1%;
    background-color:#ffffff;
    border-radius:5%;
    width:250px;
    height:350px;
    overflow: hidden;
}
.article_photo{
    border-radius:7%;
    width:80%;
    min-height: 30%;
    height:40%;
    margin:0px auto;
}
.article  > .post_about{
    /* line-width:100%; */
    margin-bottom: 10px;
    font-size: 14px;
    height:84px;
    overflow: hidden;
}

.article  > .post_about_2{
    margin-bottom: 20px;
    font-size: 14px;
    height:110px;
    overflow: hidden;
}

.article:hover{
    color:white;
    transition: 0.6s;
    background-color: #656565;
    
}

.article  > p{
    font-size: 14px;
    overflow: hidden;
}

/* .article:hover .article_photo{
    width:85%;
    height: 45%;

} */
.article_autor_photo{
    border-radius:50%;
    height: 10%;
    width:10%;
    float:left;
    margin:1px 5px;
}
.article_autor_photo_2{
    border-radius:50%;
    height: 10%;
    width:10%;
    float:left;
    margin:2px 5px;
}


img{
    border-radius:5%;
}
#gradient-text:hover .gradient-text{
    transition: 0.6s;
    background:linear-gradient(45deg,red,orange,yellow,green,blue,purple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: #656565;
}

.social{
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
}
.social_networks{
    float:left;
    display:flex;
    justify-content: center;
    align-items: center;
}
.social_networks a{
    margin:10%;
}
a{  color:white;
    text-decoration: none;
}
.social_networks a[href]:hover{
    text-shadow: 3px 3px 5px black, 0 0 5em #656565;
}


.obzor{
    height: 300px;
    width: 230px;
    border-radius: 6%;
    margin:auto;
    background-color: transparent;
    padding:1%;
}

.obzor_main{
    height: 100%;
    width:100%;
    border-radius: 6%;
    padding-top: 0%;

}
.obzor_autor{
    position: relative;
    top:70%;
    margin-top: 1000px;
    width: 80px;
    height: 80px;
    margin: 0px auto;
    background-color: transparent;
    border-radius: 50%;
}

.preview{
    display:flex;
    
}
.prev{
    width: 8%;
    margin-left: 1%;
}

.prev button{ 
    position: relative;
    border:none;
    background:transparent;
    top:43%; 
}
/* .prev button img{
    
} */
.next{
    width: 8%;
    margin-right: 1%;
}

.next button{ 
    position: relative;
    border:none;
    background:transparent;
    top:43%; 
}
/* .obzor:hover{
    box-shadow: 0 0 0 5px grey;
} */


video{
    border-radius:5px;
    margin: 10px auto;
    
}


.recomended_video{
    /* float:right; */
    min-width: 20%;
    width: 25%;
    max-width:30%;
    max-height: 550px;
    margin:1% 0;
    overflow: hidden;
}




.recomended_video h2{
    margin: 0px;
}
.recomended_video hr{
    margin:1%;
}
.recomendedVideo{

    margin:auto;
    height: 150px;
    width: 300px;
}

/*  Анимации  */

@-webkit-keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}
@keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}
.hvr-ripple-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
}
.hvr-ripple-out:before {
  content: '';
  position: absolute;
  border: #eeeeee solid 6px;
  border-radius: 5px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
.hvr-ripple-out:hover:before, .hvr-ripple-out:focus:before, .hvr-ripple-out:active:before {
  -webkit-animation-name: hvr-ripple-out;
  animation-name: hvr-ripple-out;
}
.videoplayer{

    display:flex;
    justify-content: center;
}

/*  Анимации конец  */

.switch {
position: relative;
display: inline-block;
width: 60px;
height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
opacity: 0;
width: 0;
height: 0;
}

/* The slider */
.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 23px;
width: 26px;
left:-4px;
background-color: rgb(255, 255, 255);
box-shadow: 0 0 4px #333333;
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .slider {
background-color: #333333;
}


input + .slider {
box-shadow: 0 0 2px #ffffff;
}

input:checked + .slider:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
border-radius: 30px;
}

.slider.round:before {
border-radius: 50%;
}
.main_part_links > div {
    padding-top:10px;
    margin:auto;
}
#flashContent { width:100%; height:100%; }

@keyframes rotation {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    }
}
