*{
    padding: 0px;
    margin: 0px;
    text-align: center;  
    font-family: 'Russo One', sans-serif;
    font-family: 'Oswald', sans-serif;
}

.logo{
    height: 50px;
    background-color: #656565;
}
.first{
    height: 200px;
    background-color: mintcream;
}
.second{
    height: 250px;
    background-color: #656565;
}
/* .third{
    height: 3000px;
} */
.social{
    display: flex;
    height: 150px;
    background-color: #656565;
}
.price{
    display: inline-flex;
    margin:0px 5%;
    margin-top: 210px;
    height: 80px;
    width: 200px;
    
    border-radius: 10px;
    background: #f35;
}
.price p {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    color:white;
    margin:0px auto;
    font-size: 30px;
    text-align:center;
    align-items: center;
}

h1{
    font:Arial 35px white;
    
}
.autor{
    font-family: 'Open Sans', sans-serif;
    
    margin:0px 1%;
    width: 300px;
    height: 400px;
    background-color: white;
    border-radius:5%;
    
}
.round{
    width: 70%;
    height: 70%;
    margin:5% auto;
    background-color: white;
    border-radius: 50%;
}
.autors{
    
    padding-left: 2%;
    display:flex;
    justify-content: center;
}

.autor:hover{
    color:white;
    transition: 0.6s;
    background-color: #656565;
    
}
article{
    display: flex;
    justify-content: center;
}

.article{
    justify-content: center;
    margin:0px 2%;
    padding:1%;
    background-color:#ffffff;
    border-radius:5%;
    width:250px;
    height:350px;
    overflow: hidden;
}
.article_photo{
    border-radius:7%;
    width:80%;
    min-height: 30%;
    height:40%;
    margin:0px auto;
}
.article p{
    /* line-width:100%; */
    font-size: 14px;
    overflow: hidden;
}

.article:hover{
    color:white;
    transition: 0.6s;
    background-color: #656565;
    
}

.article:hover .article_photo{
    width:85%;
    height: 45%;

}
.article_autor_photo{
    border-radius:50%;
    height: 10%;
    width:10%;
    float:left;
    margin:-1% 2%;
}

img{
    border-radius:5%;
}
#gradient-text:hover .gradient-text{
    transition: 0.6s;
    background:linear-gradient(45deg,red,orange,yellow,green,blue,purple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: #656565;
}

.social{
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
}
.social_networks{
    float:left;
    display:flex;
    justify-content: center;
    align-items: center;
}
.social_networks a{
    margin:10%;
}
a{  color:white;
    text-decoration: none;
}
.social_networks a[href]:hover{
    text-shadow: 3px 3px 5px black, 0 0 5em #656565;
}


.obzor{
    height: 300px;
    width: 230px;
    border-radius: 6%;
    margin:auto;
    background-color: transparent;
    padding:1%;
}

.obzor_main{
    height: 100%;
    width:100%;
    border-radius: 6%;
    padding-top: 0%;

}
.obzor_autor{
    position: relative;
    top:70%;
    margin-top: 1000px;
    width: 80px;
    height: 80px;
    margin: 0px auto;
    background-color: transparent;
    border-radius: 50%;
}

.preview{
    display:flex;
    
}
.prev{
    width: 8%;
    margin-left: 1%;
}

.prev button{ 
    position: relative;
    border:none;
    background:transparent;
    top:43%; 
}
/* .prev button img{
    
} */
.next{
    width: 8%;
    margin-right: 1%;
}

.next button{ 
    position: relative;
    border:none;
    background:transparent;
    top:43%; 
}
/* .obzor:hover{
    box-shadow: 0 0 0 5px grey;
} */


video{
    border-radius:5px;
    margin: 10px auto;
    
}


.recomended_video{
    /* float:right; */
    min-width: 20%;
    width: 25%;
    max-width:30%;
    max-height: 550px;
    margin:1% 0;
    overflow: hidden;
}




.recomended_video h2{
    margin: 0px;
}
.recomended_video hr{
    margin:1%;
}
.recomendedVideo{

    margin:auto;
    height: 150px;
    width: 300px;
}

/*  Анимации  */

@-webkit-keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}
@keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}
.hvr-ripple-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
}
.hvr-ripple-out:before {
  content: '';
  position: absolute;
  border: #eeeeee solid 6px;
  border-radius: 5px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
.hvr-ripple-out:hover:before, .hvr-ripple-out:focus:before, .hvr-ripple-out:active:before {
  -webkit-animation-name: hvr-ripple-out;
  animation-name: hvr-ripple-out;
}
.videoplayer{

    display:flex;
    justify-content: center;
}

/*  Анимации конец  */
